<div class="center hero-unit">
	<h1>enPronto</h1>
	<p>Keep track of your appointments.</p>

	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</div>
<div class="row">
  <div class="span4">
  	<h4>Keep organized</h4>
		<p>Store your shit.</p>
  </div>
  <div class="span4">
		<h4>Keep organized</h4>
		<p>Store your shit.</p>
	</div>
	<div class="span4">
		<h4>Keep organized</h4>
		<p>Store your shit.</p>
	</div>
</div>