<div class="lead">
	<center>Enpronto helps you visualize your progress to make sure you complete every task on your to-do list.</center>
</div>
<div class="container">
	<%= image_tag("/images/screenshot.png") %>
</div>