<footer>
  <div class="container">
		<div class="row">
			<div id="credit">
				<h6>
	    		<%= link_to "enPronto", root_path %>
	    		by <%= link_to "Frank Wu", "http://frankjwu.com" %>
	  		</h6>
			</div>
		</div>
	</div>
</footer>